*{
 margin: 0;
 padding: 0;
 list-style: none;
}
a{
 text-decoration: none;
}
.main_warp{
 width:100%;
 min-width: 1226px;
 background-color: #f5f5f5;
 overflow: hidden;
}
.main{
 width: 1226px;
 height: 850px;
 margin: 0 auto;
}
.main_banner{
 width: 1226px;
 margin: 22px 0;
}
.main_header{
 width: 1226px;
 height: 58px;
}
.main_header_title{
 font-size: 22px;
 color:#333;
 font-weight: 200px;
 float: left;
 line-height: 58px;
}
.main_header_more{
 font-size: 16px;
 color: #424242;
 float: right;
 line-height: 58px;
}
.main_header_more span{
 margin-left: 30px;
}
.main_row{
 width: 1226px;
 height: 628px;
}
.main_row_left{
 width: 234px;
 height: 628px;
 float: left;
}
.main_row_left ul{
 width: 234px;
 height: 628px;
}
.main_row_left ul li{
 height: 300px;
 margin-bottom: 14px;
}
.main_row_left ul li a{
 display: inline-block;
 height: 300px;
}
.main_row_right{
 width: 992px;
 height: 628px;
 float: right;
}
.main_row_right ul{
 width: 992px;
 height: 628px;
}
.main_row_right ul li{
 width: 234px;
 height: 300px;
 margin: 0 0 14px 14px;
 background-color: #fff;
 float: left;
}
.main_row_right ul li a{
 display: inline-block;
 height: 300px;
}
.main_row_right ul li .imgs{
 width: 160px;
 height: 160px;
 margin: 20px auto;
}
.main_row_right ul li img{
 width: 160px;
 height: 160px;
}
.main_row_right ul li .title{
   padding: 0 10px 2px;
   font-size: 14px;
   color: #333;
   font-weight: 400;
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.main_row_right ul li .desc{
 height: 18px;
 line-height: 18px;
  padding: 0 10px 10px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_row_right ul li .price{
 padding: 0 10px 14px;
 color: #ff6700;
 text-align: center;
 font-size: 12px;
}
/* .main_row_s_t{
 width: 234px;
 height: 143px;
 background-color: #fff;
 display: inline-block;
}
.main_row_right .main_row_s_t a{
 display: inline-block;
 width: 234px;
 height: 143px;
 
}
.main_row_s_t_main{
 height: 80px;
 width: 90px;
 float: left;
 margin:50px 0 0 30px;
}
.main_row_s_t_tit{
 font-size: 12px;
 color: #333;
 margin-bottom: 5px;
}
.main_row_s_t_price{
 font-size: 12px;
 color:#ff6700;
}
.main_row_s_t_img{
 width: 80px;
 height: 80px;
 float: right;
 margin:50px 20px 0 0;
} 
.main_row_s_t .main_row_s_t_img img{
 width: 80px;
 height: 80px;
}
.main_row_s_b{
 width: 234px;
 height: 143px;
 background-color: #fff;
 display: inline-block;
 margin-top: 10px;
}
.main_row_right .main_row_s_b a{
 display: inline-block;
 width: 234px;
 height: 143px;
 
}
.main_row_s_b_main{
 width: 95px;
 height: 45px;
 float: left;
 font-size: 18px;
 color: #333;
 margin:50px 0 0 30px;

}
.main_row_s_b_main p{
 font-size: 12px;
 margin-top: 5px;
 color: #757575;
}
.main_row_s_b_img{
 width: 45px;
 height: 55px;
 float: right;
 margin:50px 35px 0 0;
}
.main_row_s_b .main_row_s_b_img img{
 width: 48px;
 height: 48px;
} */