* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}

em, i {
  font-style: normal;
}

strong, b {
  font-weight: normal;
}

html {
  font-size: 100px;
  color: #333;
}

body {
  font-size: 0.12rem;
  color: #333;
}

.box_wrap {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.box_wrap .bg_img {
  width: 100%;
  height: 100%;
}

.box_wrap .party_logo {
  width: 500px;
  position: absolute;
  top: 20px;
  left: 200px;
}

.box_wrap .tree {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.box_wrap .Santa_Claus {
  width: 190px;
  height: 120px;
  position: absolute;
  bottom: 30px;
  left: -150px;
}

.box_wrap .box {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(98, 162, 167, 0.5);
  position: absolute;
  top: 80px;
  left: 50%;
}

.box_wrap .box .kedu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.box_wrap .box .kedu li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box_wrap .box .kedu li p {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 15px;
  background-color: #00ff88;
}

.box_wrap .box .kedu li:nth-of-type(5n+1) p {
  background-color: red;
  width: 5px;
}

.box_wrap .box .zhen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box_wrap .box .zhen li {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  transform: rotate(-90deg);
}

.box_wrap .box .zhen li p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.box_wrap .box .zhen li .shi {
  width: 120px;
  height: 5px;
  background-color: #7ae97a;
}

.box_wrap .box .zhen li .fen {
  width: 150px;
  height: 3px;
  background-color: aqua;
}

.box_wrap .box .zhen li .miao {
  width: 160px;
  height: 2px;
  background-color: red;
}

.box_wrap .box .tubiao {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -8px;
  background: url(../image/tu7.png) no-repeat;
  background-size: 20px;
}
