.box_warp{
    height: 476px;
    background-color: #062c43;
    overflow: hidden;
    min-width: 1190px;
    margin-top: 50px;
}
.box{
    width: 1190px;
    height: 476px;
    margin: 0 auto;
}
.box_left{
    width: 200px;
    height: 476px;
    float: left;
    background-color: #fff;
}
.box_left ul{
    width: 200px;
    height: 476px;
    font-size: 0;
}
.box_left ul li{
    height: 32px;
    width: 166px;
    padding: 0 6px 0 28px;
    line-height: 32px;
    position: relative;
}
.box_left ul li img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 9px;

}
.box_left ul li a{
    font-size: 14px;
    color: #000;
    display: inline-block;
    padding: 0 2px;
}
.box_left ul li a:hover{
    color: #F60;
}
.box_left ul li em{
    font-size: 16px;
    margin: 0 1px;
}
.box_con{
    width: 794px;
    height: 476px;
    float: left;
    position: relative;
}
.box_con a{
    display: inline-block;
    width: 794px;
    height: 476px;
    background: url(/image/suningyigou/logo.jpg) center center no-repeat;
}
.dingwei{
    width: 786px;
    height: 112px;
    position: absolute;
    bottom: 10px;
    left:5px ;
}
.dingwei ul{
    width: 786px;
    height: 112px;
}
.dingwei ul li{
    width: 194px;
    height: 112px;
    float: left;
    margin-left: 2px;
    border-radius: 6px;
}
.dingwei ul li a{
    display: inline-block;
    width: 194px;
    height: 112px;
}
.dingwei ul li a img{
    width: 194px;
    height: 112px;
}