.box_warp{
    height: 686px;
    min-width: 1225px;
}
.box{
    width: 1225px;
    height: 686px;
    margin: 50px auto;
}
.tit{
    height: 58px;
}
.tit em{
    height: 58px;
    display:block;
    font-size: 22px;
    color: #333;
    float: left;
    line-height: 58px;
}
.tit span{
    height: 58px;
    display:block;
    font-size: 18px;
    color: #333;
    float: right;
    line-height: 58px;
}
.con{
    height: 614px;
    width: 1225px;
}
.con_left{
    width: 248px;
    height: 614px;
    float: left;
}
.con_left a{
    display:block;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
}
.con_left a img{
    width: 234px;
    height: 300px; 
}
.con_right{
    width: 977px;
    height: 628px;
    float: right;
}
.con_right ul{
    width: 977px;
    height: 628px;
    display: none;
}
.con_right ul:nth-of-type(1){
    display: block;
}
.con_right ul li{
    width: 234px;
    height: 300px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 14px;
}
.con_right ul li a{
    width: 234px;
    height: 300px;
} 
.con_right ul li a img{
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
}
.con_right ul li a .pro1{
    width: 214px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.con_right ul li a .pro2{
    width: 214px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.con_right ul li a .price{
    width: 214px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    color: #ff6700;
}
.con_right ul li a .price i{
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 7px;
    text-decoration: line-through;
}
