.navbar_warp{
    overflow: hidden;
    min-width: 1190px;
    height: 35px;
    background-color: #f5f5f5;
}
.navbar{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
}
.navbar_left{
    height: 35px;
    float: left;
}
.navbar_left ul{
    height: 35px;
}
.navbar_left ul li{
    height: 35px;
    float: left;
    margin: 0 5px;
}
.navbar_left ul li a{
    display: inline-block;
    height: 35px;
    font-size: 12px;
    color: #6C6C6C;
}
.navbar_right{
    height: 35px;
    float: right;
}
.navbar_right ul{
    height: 35px;
}
.navbar_right ul li{
    height: 35px;
    float:left;
    position: relative;
}
.navbar_right ul li a{
    display: inline-block;
    height: 35px;
    font-size: 12px;
    color: #6C6C6C;
    padding: 0 6px;
    position: relative;
}
.navbar i{
    font-size: 8px;
    font-weight: bolder;
}
.header_warp{
    overflow: hidden;
    min-width: 1190px;
}
.header{
    width: 1190px;
    height: 95px;
    margin: 0 auto;
}
.header_left{
    height: 95px;
    float: left;
}
.header_left p{
    width: 181px;
    height: 45px;
    background:url(../image/购物车/jinglingtu.png) no-repeat -112px 0px;
    margin-top: 25px;
}
.header_right{
    height: 95px;
    float: right;
    margin-top: 30px;
}
.inp{
    width:515px;
    height: 35px;
    border: 3px solid#f40;
    box-sizing: border-box;
    background-color:#f40;
}
#inp_left{
    width: 75px;
    height: 29px;
    color: #6b6b6b;
    float: left;
    background-color: #f5f5f5;
    outline: none;
    border:none;
    border-right: 1px solid #999;
}
.inp input{
    width: 343px;
    height: 29px;
    outline: none;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    padding-left: 5px;
}
#inp_right{
    display:block;
    width:91px;
    height: 29px;
    float: right;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 29px;
}
.con_warp{
    min-width: 1190px;
    overflow: hidden;
}
.con{
    width: 1190px;
    margin: 0 auto;
}
.con_tit{
    width:1190px ;
    height: 35px;
    border-bottom:2px solid #f5f5f5;
}
.con_tit_left{
    height: 35px;
    float: left;
}
.con_tit_left ul{
    height: 35px;
}
.con_tit_left ul li{
    width: 124px;
    height: 35px;
    float: left;
    text-align: center;
}
.con_tit_left ul li:hover{
    border-bottom:2px solid #f40;
}
.con_tit_left ul li a{
    display: inline-block;
    width: 124px;
    height: 21px;
    border-right: 1px solid #f4f4f4;
}
.con_tit_left ul li a em{
    font-size: 16px;
    color: #000;
    font-weight: bolder;
}
.con_tit_left ul li a b{
    font-size: 16px;
    color: #f40;
}
.con_tit_right{
    height: 35px;
    float: right;
}
.con_tit_right em{
    font-size: 12px;
    color: #333;
}
.con_tit_right b{
    font-size: 12px;
    color: #f40;
}
.con_warp s{
    display: inline-block;
    width: 55px;
    height: 25px;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    text-decoration: none;
}
.con_tit1{
    width: 1190px;
    height: 50px;
}
.con_tit1 ul{
    width: 1190px;
    height: 50px;
}
.con_tit1 li{
    font-size: 12px;
    color: #333;
    float: left;
    width: 120px;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.con_tit1 li input{
    position: absolute;
    top: 20px;
    left: 33px;
}
.con_center{
    width: 1190px;
    padding-bottom: 20px;
}
.con_center_top{
    width: 1190px;
    height: 38px;
}
.con_center_top #checkbox2{
    margin-left:33px ;
}
.con_center_top em{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin:0 4px;
    background: url(../image/购物车/jinglingtu.png)no-repeat -20px -185px;
}
.con_center_top span {
    font-size:12px;
}
.con_center_top span a{
    font-size:12px;
    color: #333;
}
.con_center_top span a:hover{
    color: #f40;
    text-decoration: underline;
}
.con_center_top b{
    display: inline-block;
    width: 72px;
    height: 26px;
    font-size:12px;
    color: #f40;
    background: url(../image/购物车/jinglingtu.png)no-repeat -20px -75px;
    text-align: center;
    line-height: 26px;
}
.con_center_top i{
    color: #f40;
    font-size: 8px;
}
.con_center_buttom{
    width: 1190px;
    border:1px solid #ccc;
}
.con_center_buttom_top{
    width: 1190px;
    height: 28px;
    padding-top: 9px;
    border-bottom: 1px solid #e8e8e8;
}
.con_center_buttom_bottom{
    width: 1190px;
    height: 129px;
}
#con_center_buttom_top_span1{
    height: 22px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
    margin:0 15px 0 50px;
    background-color: #e7e7e7;
    color: #6c6c6c;
}
#con_center_buttom_top_span2{
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #f40;
}
#con_center_buttom_top_span3{
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #333;
    margin-left: 2px;
}
.con_center_buttom_bottom{
    width: 1190px;
    height: 129px;
}
.con_center_buttom_bottom ul{
    width: 1190px;
    height: 82px;
    padding: 20px 0 30px 0;
}
.con_center_buttom_bottom ul li{
    height: 82px;
    float: left;
}
#con_chk{
    padding: 0 10px 0 35px;
}
#con_item{
    width: 342px;
}
#con_item_img1{
    width: 82px;
    height: 82px;
    float: left;
}
#con_item_right{
    width: 226px;
    height: 82px;
    float: left;
    margin-left: 10px;
}
#con_item_right a{
    display: inline-block;
    width: 226px;
    height: 40px;
    font-size:12px ;
    color: #3c3c3c;
    overflow: hidden;
    text-overflow: ellipsis;
}
#con_item_right a:hover{
    text-decoration: underline;
    color: #f40;
}
.con_item_right_bottom{
    height: 23px;
    margin-top: 20px;
}
#con_price{
    width: 74px;
    height: 40px;
    margin-left: 260px;
}
#con_price_old{
    font-size: 12px;
    color: #9c9c9c;
    text-decoration: line-through;
}
#con_price_new{
    font-size: 12px;
    color: #3c3c3c;
    font-weight: 700;
}
#con_amount{
    width: 80px;
    height: 25px;
    margin-left: 35px;
    font-size: 0;
}
#con_amount1{
    display: inline-block;
    width: 17px;
    height: 23px;
    border:1px solid #e5e5e5;
    background-color: #f0f0f0;
    color: #444;
    text-align: center;
    line-height: 23px;
    font-size: 8px;
}
#con_amount1:hover{
    border-color: #f40;
    color: #f40;
}
#con_amount3:hover{
    border-color: #f40;
    color: #f40;
}
#con_amount2 input{
    display: inline-block;
    width: 39px;
    height: 15px;
    padding: 4px 0;
    border:1px solid #aaa;
    color: #444;
    text-align: center;
    line-height: 15px;
    font-size: 8px;
}
#con_amount3{
    display: inline-block;
    width: 17px;
    height: 23px;
    border:1px solid #e5e5e5;
    background-color: #f0f0f0;
    color: #444;
    text-align: center;
    line-height: 23px;
    font-size: 8px;
}
#con_sum{
    width: 140px;
    margin-left: 40px;
}
#con_sum1{
    font-size: 12px;
    color: #f40;
}
#con_sum2{
    font-size: 11px;
    color: #9c9c9c;
}
#con_op{
    width: 119px;
    padding-left: 30px;
}
#con_op1{
    display: block;
    font-size: 12px;
    color: #3c3c3c;
}
#con_op2{
    display: block;
    font-size: 12px;
    color: #3c3c3c;
    padding:2px 0;
}
#con_op1:hover{
    text-decoration: underline;
    color: #f40;
}
#con_op2:hover{
    text-decoration: underline;
    color: #f40;
}
#con_op3{
    display:block;
    font-size: 12px;
    color: #3c3c3c;
    display: none;
}
#con_op3 i{
    font-size: 8px;
}
.con_center_buttom_bottom:hover #con_op3{
    display: block;
}
#con_op3:hover{
    text-decoration: underline;
    color: #f40;
}
.con_floor{
    width: 1190px;
    height: 50px;
    background-color: #e5e5e5;
}
.con_floor_left{
    height: 50px;
    float: left;
}
.con_floor_left ul li{
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 25px;
    font-size: 12px;
    color: #3c3c3c;
}
.con_floor_left ul li a{
    color: #3c3c3c;
}
.con_floor_left ul li a:hover{
    text-decoration: underline;
    color: #f40;
}
.con_floor_right{
    height: 50px;
    float: right;
}
#con_floor_right1{
    display: inline-block;
    height:50px;
    width: 100px;
    line-height: 50px;
    font-size: 12px;
    color: #3c3c3c;
}
#con_floor_right1 i{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../image/购物车/jinglingtu.png)no-repeat 0px -113px;

}
#con_floor_right1 em{
    font-size: 12px;
    color: #3c3c3c;
}
#con_floor_right1 b{
    font-size: 14px;
    color: #f40;
    font-weight: bolder;
}
#con_floor_right2{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #3c3c3c;
    margin-left: 10px;
}
#con_floor_right2 b{
    font-size: 16px;
    font-weight: bolder;
    color: #f40;
}
#con_floor_right3{
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #B0B0B0;
}
#con_floor_right3 a{
    color: #fff;
}

