*{
 margin: 0;
 padding: 0;
 list-style: none;
}
i,em{
 font-style: normal;
}
strong,b{
 font-weight: normal;
}
a{
 text-decoration: none;
}
.product_list{
 width: 1170px;
 margin: 0 auto;
 overflow: hidden;
}
.product_list .title{
 width: 1170px;
 height: 41px;
 margin: 15px 0 ;
 line-height: 41px;
 overflow: hidden;
}
.title ul{
   margin-top: 10px;
}
.title ul>li{
 height: 26px;
 float: left;
 margin-right: 25px;
 font-size: 0;
 line-height: 26px;
}
.title ul>.item_add{
   border:1px solid #ccc;
   line-height: 26px;
   padding:0 40px 0 10px;
   font-size: 12px;
   position: relative;
   max-width: 250px;
   overflow: hidden;
   border-radius: 3px;
   text-overflow: ellipsis;
   white-space: nowrap;
   color: #f10180;
}
.title ul>.item_add b{
   color: #333;
}
.title ul>.item_add i{
   position: absolute;
   top: 0;
   right: 0;
   display: inline-block;
   width: 30px;
   height: 26px;
   text-align: center;
   line-height: 26px;
   color: #555;
   cursor: pointer;
}
.title ul>li>em{
   position: absolute;
   top: 0px;
   right: -20px;
   color: #333;

}
.title ul>.item_add:hover{
   border: 1px solid #f10180;
}
.title ul>.item_add:hover i{
   background-color:#f10180;
   color: #fff;
}
.title ul>li a{
 width: 48px;
 height: 26px;
 display:inline-block;
 color: #333;
 line-height: 26px;
 margin-right: 10px;
 font-size: 12px;
}
.title ul>.item_title span{
 font-size: 12px;
 color: #999;
 padding: 0 10px;
}
.title ul>.item_current span{
 display: inline-block;
 width: 24px;
 height: 26px;
 line-height: 26px;
 color: #333;
 font-size: 12px;
}
.content{
 /* width: 1169px; */
 border:1px solid #dfdfdf;
 overflow: hidden;
}
.content>.groups{
 width: 1170px;
 /* overflow: hidden; */

}
.groups>.groups_serson{
 width: 1170px;
 border-bottom:1px dotted #ddd;
 overflow: hidden;
 height: 42px;
}
.groups>.groups_serson:last-child{
 border-bottom: 0;
}
.groups_serson>.group_title{
   font-size: 14px;
   font-weight: 400;
   float: left;
   padding: 16px 0 16px 20px;
   width: 98px;
}
.groups_serson>.group_content{
 width: 891px;
 float: left;
 /* padding-top: 16px; */
}
.groups_serson>.group_content>li{
 margin: 10px 50px 0 0;
 float: left;
 position: relative;
}
.groups_serson>.group_content>li a{
 display: inline-block;
 height:22px;
 font-size: 14px;
 color: #333;
 line-height: 22px;
 margin-left: 20px;
}
.groups_serson>.group_content>li:hover a{
 color: #f10180;
}
.groups_serson>.group_content>li em{
 display: inline-block;
 width: 20px;
 height: 20px;
 margin-right: 5px;
 position: absolute;
 top: 4px;
 left: -2px;
 background:url(../image/mianmo/sprite.png) -45px 0px ;
 display: none;
 text-align: center;
 line-height: 16px;
 color: green;
 font-weight: bolder;
 cursor: pointer;
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
}

.groups_serson>.group_operation{
 width: 120px;
 height: 22px;
 margin: 12px 12px 0 0;
 font-size: 0;
 float: right;
}
.group_operation>button{
 width: 48px;
 height: 22px;
 cursor: pointer;
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
}
.group_operation>.expand{
 border:none;
 background-color:#fff;
 margin-right: 20px;
 outline: none;
}
.group_operation>.expand>span{
 color: #333;
}
.group_operation .expand>.glyphicon{
 display: inline-block;
 transform: rotate(90deg);
 font-size: 14px;
 font-weight:bolder;
}
.group_operation>.multiple{
 color: #999;
}
.group_operation>.multiple>b{
 color: #333;
 margin-left: 5px;
}
.group_commands{
 width: 100%;
 height: 22px;
 padding: 10px 0 22px 0;
 text-align: center;
 clear: both;
 display: none;
}
.group_commands>button{
 width: 58px;
 height: 22px;
 text-align: center;
 line-height: 22px;
 cursor: pointer;
}
.group_commands>.but_confirm{
 background-color: #ccc;
 cursor: not-allowed;
 color: #999;
 margin-right: 20px;
 outline: none;
 border:1px solid #ccc;
}
.footor_commands{
 width: 100%;
 height: 27px;
margin-left: 525px;
}
.footor_commands_min{
 width: 120px;
 height: 28px;
 position: relative;
}
.footor_commands>.footor_commands_min>.but_collapse{
 width: 120px;
 height: 28px;
 border:1px solid #dfdfdf;
 border-top:1px solid #fff;
 background-color:#fff;
 line-height: 28px;
 margin-top: -2px;
 outline: none;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.footor_commands>.footor_commands_min>.but_collapse>.but_collapse_text{
 color: #000;
 font-weight: bolder;
}
.footor_commands>.footor_commands_min>.but_collapse>.but_collapse_glyphicon{
 display: inline-block;
 transform: rotate(90deg);
 color: #000;
 font-weight: bolder;
}
.footor_commands>.footor_commands_min>.but_collapse:first-child .but_collapse_glyphicon{
   transform: rotate(-90deg);
}