.box_warp{
    min-width: 1210px;
    background-color: #e3e4e5;
}
.box{
    width: 1210px;
    height: 681px;
    margin: 0 auto;
}
.box .top{
    width: 1210px;
    height: 60px;
    line-height: 60px;
}
.box .top h3{
    font-size:24px ;
    color: #333;
    font-weight: 400;
    float: left;
}
.box .top span{
    font-size:14px ;
    color: #999;
    float: left;
    margin-left: 20px;
}
.box .title{
    width: 1210px;
    height: 50px;
    background-color: #fff;
}
.box .title ul{
    width: 1210px;
    height: 50px;
}
.box .title ul li{
    width: 242px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.box .title ul li span{
    display: inline-block;
    width: 242px;
    height: 20px;
    margin-top: 15px;
    line-height: 20px;
    border-right: 1px solid #f6f6f6;
}
.box .title ul li .into{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom:7px solid red;
    position: absolute;
    bottom: 0px;
    left: 114px;
}
.box .con{
    width: 1210px;
    height: 570px;
    background-color: #fff;
}
.box .con ul{
    width: 1210px;
    height: 570px;
    display: none;
    border-top: 3px solid #fff;
}
.box .con ul:nth-of-type(1){
    display: block;
}
.box .con ul li{
    width: 200px;
    height: 285px;
    padding: 0 20px;
    float: left;
    border-top: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
}

.box .con ul li:nth-of-type(5n){
    border-right: none;
}
.box .con ul li a{
    display: inline-block;
    width: 200px;
    height: 285px;
}

.box .con ul li a img{
    width: 180px;
    height: 180px;
    padding: 0 10px;
}
.box .con ul li a h5{
    width: 201px;
    height: 24px;
    margin: 20px auto;
    font-size: 15px;
    color: #151517;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
}
.box .con ul li a h6{
    font-size: 16px;
    color: #c81d22;
    font-weight: 700;
}
.box_warp .box .title ul>.this{
         color: red;
 border-bottom: 3px solid red;
}
/* .box .title ul li{
    border-bottom:none;
} */
/* .box .title ul li:nth-of-type(1){
    border-bottom: 3px solid red;
} */
