*{
 margin: 0;
 padding: 0;
 list-style: none;
}
em,i{
 font-style: normal;
}
b,strong{
 font-weight: normal;
}
a{
 text-decoration: none;
}
.tuijian_warp{
 min-width: 1190px;
 background-color: #f1f1f1;
 overflow: hidden;
}
.tuijian{
 width: 1190px;
 height: 315px;
 margin: 20px auto;
}
.tuijian_tit{
 width: 1190px;
 height: 24px;
 margin-bottom: 10px;
}
.tuijian_tit .tit{
 width: 108px;
 height: 22px;
 float: left;
 line-height: 22px;
 font-size: 0;
 float: left;
 margin-right: 10px;
}
.tuijian_tit .tit em{
 float: left;
 width: 4px;
 height: 20px;
 background-color: #333;
}
.tuijian_tit .tit b{
 font-size: 18px;
 margin-left: 12px;
 float: left;
 color: #333;
 font-weight: bolder;
}
.tuijian_tit .tab{
 height: 24px;
 float: left;
 cursor: pointer;
}
.tuijian_tit .tab li{
 width: 92px;
 height: 24px;
 margin-right: 10px;
 float: left;
 position: relative;
}
.tuijian_tit .tab li .tab_tit{
 width: 92px;
 height: 24px;
 background-color:#fff;
 border-radius:50px;
 font-size: 14px;
 color: #333;
 text-align: center;
 line-height: 24px;
}
.tuijian_tit .tab li:first-child .tab_tit{
 background-color: rgb(250, 29, 90);
}
.tuijian_tit .tab li:first-child i{
 border-top-color: rgb(250, 29, 90);
}
.tuijian_tit .tab li i{
 display: inline-block;
 border-top: 5px solid #fff;
 border-left:5px solid transparent;
 border-right:5px solid transparent;
 position: absolute;
 bottom: -5px;
 left: 50%;
 margin-left: -6px;
}
.tuijian_min{
 width: 1190px;
 height: 281px;
 background-color: #fff;
 cursor: pointer;
}
.tuijian_min ul{
 width: 1190px;
 height: 281px;
 display: none;
}
.tuijian_min ul:first-child{
 display: block;
}
.tuijian_min ul li{
 width: 238px;
 height: 281px;
 float: left;
}
.tuijian_min ul li a{
 display: inline-block;
 width: 238px;
 height: 281px;
}
.tuijian_min ul li .goods_img{
 width: 238px;
 height: 160px;
 margin-top: 20px;
 text-align: center;
 border-right: 1px solid #ccc;
}
.tuijian_min ul li:nth-of-type(5) .goods_img{
 border-right:none;
}
.tuijian_min ul li .goods_img img{
 width: 160px;
 height: 160px;
 vertical-align: middle;
}
.tuijian_min ul li .goods_name{
 font-size: 12px;
 height: 32px;
 width: 180px;
 margin:30px 0 5px 29px ;
 text-align: center;
 overflow: hidden;
 text-overflow: ellipsis;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 color: #666;
}
.tuijian_min ul li .goods_price{
 font-size: 14px;
 height: 18px;
 margin-left: 29px;
 line-height: 18px;
 color: #f60;
}
.con_warp{
 min-width: 1190px;
 overflow: hidden;
 background-color: #ccc;
}
.con{
 width: 1190px;
 height: 542px;
 margin: 0 auto;
 margin-top:20px;
}
.con_main{
 width: 590px;
 height: 542px;
 float: left;
 margin: 20px 0;
}
 .con_main:nth-of-type(2n){
  margin-left: 10px;
 }
.con_tit{
 width: 590px;
 height: 22px;
 margin-bottom: 10px;
}
.con_tit .tit{
 height: 22px;
 float: left;
 line-height: 22px;
}
.con_tit .tit em{
 width: 4px;
 height: 20px;
 float: left;
 background-color: #333;
 font-weight: bolder;
}
.con_tit .tit h5{
 margin-left: 10px;
 float: left;
 color: #333;
 font-size: 14px;
}
.con_tit .true{
 height: 22px;
 float: right;
}
.con_tit .true li{
 margin-left: 20px;
 float: left;
}
.con_tit .true li a{
 font-size: 12px;
 color: #666;
}
.con_tit .true .boxBut{
 font-size: 12px;
 color: #fff;
 background-color: #fa1d5a;
 border-radius: 50px;
 width: 60px;
 height: 22px;
 text-align: center;
 line-height: 22px;
}
.con_tit .true .boxBut a{
 font-size: 12px;
 color: #fff;
}
.con_min{
 width: 590px;
 height: 510px;
 background-color: #fff;
}
.con_min_top{
 width: 590px;
 height: 400px;
}
.con_min_top img{
 width: 190px;
 height: 400px;
 float: left;
}
.con_min_top ul{
 width: 400px;
 height: 400px;
 float: right;
}
.con_min_top ul li{
 width: 200px;
 height: 200px;
 border-bottom:1px solid #ccc;
 border-right:1px solid #ccc;
 float: left;
 box-sizing: border-box;
 background-color: #fff;
}
.con_min_top ul li a{
 display: inline-block;
 width: 200px;
 height: 200px;
}
.con_min_top ul li:nth-of-type(2n){
 border-right:none;
}
.con_min_top ul li img{
 width: 120px;
 height: 120px;
 margin: 10px 0 10px 40px;
}
.con_min_top ul li .pro{
 font-size:12px;
 width: 160px;
 height: 32px;
 color: #333;
 margin-left: 20px;
 overflow: hidden;
 text-overflow: ellipsis;
}
.con_min_top ul li .price{
 width: 160px;
 height: 32px;
 font-size: 16px;
 color: #f60;
 margin-left: 20px;
}
.con_min_bottom{
 width: 590px;
 height: 110px;
}
.con_min_bottom ul{
 width: 590px;
 height: 110px;
}
.con_min_bottom ul li{
 width: 190px;
 height: 110px;
 border-right: 1px solid #ccc;
 float: left;
 box-sizing: border-box;
}
.con_min_bottom ul .con_min_bottom_name{
 width: 200px;
}
.con_min_bottom ul li:last-child{
 border-right: none;
}
.con_min_bottom ul li a{
 display: inline-block;
 width: 190px;
 height: 110px;
}
.con_min_bottom ul li img{
 width: 80px;
 height: 80px;
 float:left;
 margin: 15px 10px 15px 15px;
}
.con_min_bottom ul li .goods{
 width: 80px;
 height: 56px;
 float: left;
 margin: 27px 0 4px 0;
}
.con_min_bottom ul li .goods .pro{
 font-size: 0;
 width: 80px;
 height: 32px;
 font-size: 12px;
 color: #666;
 overflow: hidden;
 text-overflow: ellipsis;
}
.con_min_bottom ul li .goods .price i{
 font-size: 8px;
 color: #f60;
 float: left;
 margin-top: 4px;

}
.con_min_bottom ul li .goods .price em{
 font-size:16px;
 color: #f60;
 float: left;
}
